@tailwind base;
@tailwind components;
@tailwind utilities;


/* apply font style to all text */
html {
  font-family: "Assistant", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: rgb(39, 42, 61) !important;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

p {
  font-size: 20px;
  font-weight: 500;;
}

button {
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 767px) {
  h1 {
    font-size: 30px;
  }
  p {
    font-size: 18px;
  }
}

.active {
  color: rgb(102, 151, 158);
}


/* space betwween testimonisla  */
.slick-slide > div {
  margin: 0 10px;
}
.slick-prev,
.slick-next {
    display: none !important;
}